{% extends "base" %}

{% block content %}

    <h1>Here is your gear detail:</h3>
    <ul>
        "{{gear.name}}" is a {{gear.brand_name}} {{gear.model_name}} which ran {{gear.distance / 1000}} km
    </ul>

    <p>Try going to <a href="/user">Your User Page</a></p>
{% endblock content %}