@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-surface-1: var(--color-gray-100);
  --color-surface-2: var(--color-gray-300);
  --color-surface-3: var(--color-gray-200);
  --color-surface-4: #ffffff;
  --color-border-subtle: var(--color-gray-200);
  --color-border-strong: var(--color-gray-300);
}

.dark {
  --color-surface-1: var(--color-gray-800);
  --color-surface-2: var(--color-gray-600);
  --color-surface-3: var(--color-gray-500);
  --color-surface-4: var(--color-gray-600);
  --color-border-subtle: var(--color-gray-700);
  --color-border-strong: var(--color-gray-600);
}

@source "../../node_modules/flowbite-svelte/dist";
@source "../../node_modules/flowbite-svelte-icons/dist";

@layer base {
  /* disable chrome cancel button */
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}
